/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* .divSections {
  margin:0;
  padding: 0;
}

.promotionalBox1 {
  border: 10px;
  background-color: rgb(5, 159, 159);
  color: white;
  height: 20vh;
}
.promotionalBox2 {
  border: 10px;
  background-color: rgb(211, 204, 24);
  color: white;
  height: 20vh;
}
.promotionalBox3 {
  border: 10px;
  background-color: rgb(25, 153, 74);
  color: white;
  height: 20vh;
}

.box1Text, .box2Text, .box3Text {
  text-align: start;
} */
