.homepageDiv {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.promotionalBox1,
.promotionalBox2,
.promotionalBox3 {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, height 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  background-size: 150% 150%; /* Enhance background size for a smooth gradient transition */
}

.promotionalBox1 {
  background: linear-gradient(to right, #56ab2f, #a8e063); /* Green gradient */
}

.promotionalBox2 {
  background: linear-gradient(to right, #11998e, #38ef7d); /* Teal to light green gradient */
}

.promotionalBox3 {
  background: linear-gradient(to right, #2c3e50, #4ca1af); /* Dark slate to light blue-green gradient */
}

.promotionalBox1:hover,
.promotionalBox2:hover,
.promotionalBox3:hover {
  transform: translateY(-10px); /* Moves the box up */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); /* Larger shadow for lifted effect */
  height: calc(100% + 200px); /* Increases the height by 20px */
}

.box1Text,
.box2Text,
.box3Text {
  color: #fff; /* White text for better contrast */
}
